* text=auto eol=lf

*.7z binary
*.dds binary
*.dll binary
*.exe binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.pdb binary
*.png binary
*.rar binary
*.rws binary
*.webp binary
*.zip binary
